{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('users.login') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
<!-- #TODO Finish up login form -->
{% endblock %}