{% extends "base.html" %} {% block content %}

<div class="card-header">
	<p class="card-header-title">Register New User</p>
</div>
<div class="card-content">
	<div class="content">
		<form
			action="{{ url_for('users.register') }}"
			enctype="multipart/form-data">
			{{registration_form.hidden_tag()}}
			<div class="field">
				<label class="label">{{registration_form.email.label}}</label>
				<div class="control has-icons-left">
					{{registration_form.email(class_="input is-medium is-rounded")}}
					<span class="icon is-small is-left">
						<i class="fas fa-envelope"></i>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label">{{registration_form.username.label}}</label>
				<div class="control has-icons-left">
					{{registration_form.username(class_="input is-medium is-rounded")}}
					<span class="icon is-small is-left">
						<!-- TODO: Figure out good username icon -->
						<i class="fas fa-envelope"></i>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label">{{registration_form.password.label}}</label>
				<div class="control has-icons-left">
					{{registration_form.password(class_="input is-medium is-rounded")}}
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label">{{registration_form.confirm_password.label}}</label>
				<div class="control has-icons-left">
					{{registration_form.confirm_password(class_="input is-medium is-rounded")}}
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</div>
			</div>
			<div class="control">
				<button class="button is-info is-light">{{registration_form.submit.label}}</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
