{% extends 'base.html' %} {% block content %}
<div class="card-header">
	<p class="card-header-title">Posts Listing</p>
</div>
<div class="card-content">
	<div class="content">
		<h1 class="is-size-1">Welcome in {{author.username}}</h1>
        <!-- TODO: Test and remove 1 -->
		<img class="is-rounded image"
			src="{{url_for('static', filename='profile_pics/' + author.profile_pic)}}" />
        <figure class="image is-128x128">
        <img class="is-rounded" src="{{url_for('static', filename='profile_pics/' + author.profile_pic)}}">
        </figure>
		<section class="section">
			{%for post in posts.items %}
			<h2 class="is-size-2"><a href="{{url_for('posts.user_post', user_post_id=post.id)}}">{{post.title}}</a></h2>
			Written By:
			<a href="{{url_for('users.user_post', username=post.writer.username)}}" class="is-capitalized is-italic has-text-weight-medium">
                {{post.author.username}}
            </a>
			<p class="has-text-light has-text-grey">Published on: {{post.date.strftime("%Y=%m-%d")}}</p>
			<br />
			<p>{{post.content}}</p>
			<br />
			{% endfor %}
            <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
            <a href="#" class="pagination-previous" disabled>Previous</a>
            <a href="#" class="pagination-next" disabled>Next</a>
            <ul class="pagination-list">

                {% for page_counter in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 2, right_current=2) %}
                    {% if page_counter %}
                        {% if posts.page == page_counter %}
                            <li>
                                <a class="pagination-link is-current" aria-label="Page {{ page_counter }}" aria-current="page">{{ page_counter }}</a>
                            </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('users.user_post', username=author.username, page=page_counter) }}" 
                        class="pagination-link" 
                        aria-label="Goto page {{ page_counter }}">{{ page_counter }}</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                {%endfor%}
            </nav>
		</section>
	</div>
</div>

{% endblock %}
